body {
  width: 800px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.display-block{
  width: 500px;
  display: block;
  margin-bottom: 5px;
  min-height: 100px;
  background: #C0C0C0;
  text-align: left;
  padding-left: 10px;
  border-radius: 10px;
}
.container{
  padding-top: 20px;
  width: 100px;
  margin: auto;
}
.button-group{
  display: inline-block;
  vertical-align: top;
  width: 150px;
}
.location-details{
  text-align: left;
  padding-left: 10px;
}
button{
  display: inline-block;
  height: 50px;
  color: grey;
  font-weight: bold;
  background: orange;
  border-radius: 10%;
  margin-right: 50px;
  box-shadow: 2px 2px grey;
  margin-left: 0;
  margin-top: 5px;
}
button:disabled, button[disabled]{
  border: 1px solid red;
}
p{
  display: inline-block;
}
